hello
{% comment %} <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>qualification</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>twinkle</td>
        <td>26</td>
        <td>B.E</td>
      </tr>
      <tr>
        <td>twi</td>
        <td>25</td>
        <td>mca</td>
      </tr>
      <tr>
        <td>anku</td>
        <td>34</td>
        <td>M.tech</td>
      </tr>
    </tbody>
  </table> {% endcomment %}