<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>landing</title>
</head>
<body>
<h1>landing page</h1>

    <div>
    <a href="{%  url 'first' %}">First 5 student</a>
    <a href="{%  url 'asc' %}">All_Student ascending by name</a>
    <a href="{% url 'last_5' %}">last_5</a>
    <a href="{% url 'desc' %}">All_Student descending by name</a>
    <a href="{% url 'desc' %}">All Student</a>
    </div>  


   
</body>
</html>